body {
    overflow-x: hidden;
}

.container-fluid {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 0;
}

.row {
    flex: 1;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav {

}

.sidebar {
    transition: width 0.3s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar.closed {
    width: 50px;
}

.sidebar.open {
    width: 250px;
}

.sidebar .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar-toggle {
    cursor: pointer;
}

.main-content {
    transition: margin-left 0.3s, width 0.3s;
    padding: 20px;
    flex-grow: 1;
    overflow-x: hidden;
}

/* Ensure main content adjusts width when sidebar is open */
.sidebar.open + .main-content {
    width: calc(100% - 250px);
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .sidebar.open {
        width: 100px;
    }

    .sidebar.open + .main-content {
        margin-left: 100px;
        width: calc(100% - 100px);
    }
}
